# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Node modules (React)
node_modules/

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db